<app-section
  imgUrl="https://images.pexels.com/photos/276583/pexels-photo-276583.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
  <header>O firmie</header>
  <content>
    <p>
      <strong>Meble Jaś</strong> to firma z tradycjami. Z roku na rok poszerzamy
      naszą bogatą ofertę, zwiększając również obszar działania.
    </p>

    <p>
      W chwili obecnej obsługujemy Klientów zarówno z <strong>Wrocławia, jak i okolic.</strong>
    </p>
    <p>
      Główny profil działalności polega na produkcji i montażu <strong>mebli typowych</strong> (w
      standardowym układzie) oraz <strong>mebli na wymiar</strong>. Szybko i profesjonalnie
      realizujemy zatem tradycyjne projekty, jak i oryginalne zamówienia na
      meble.
    </p>
  </content>
</app-section>
