<section class="container-fluid About" >
    <div class="container">
    <header appTranslateOnScroll>
        <h1>
            O naszej firmie
        </h1>
    </header>
    <article appTranslateOnScroll>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat excepturi sed hic sequi eveniet quidem animi ad minus ullam, itaque molestias optio fugit provident! Cum fugit id officiis nihil.
    </article>
</div>
</section>
<section class="container-fluid About" >
    <div class="container">
    <header appTranslateOnScroll>
        <h1>
            O naszej firmie
        </h1>
    </header>
    <article appTranslateOnScroll>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat excepturi sed hic sequi eveniet quidem animi ad minus ullam, itaque molestias optio fugit provident! Cum fugit id officiis nihil.
    </article>
</div>
</section>

<section class="container-fluid About" >
    <div class="container">
    <header appTranslateOnScroll>
        <h1>
            O naszej firmie
        </h1>
    </header>
    <article appTranslateOnScroll>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat excepturi sed hic sequi eveniet quidem animi ad minus ullam, itaque molestias optio fugit provident! Cum fugit id officiis nihil.
    </article>
</div>
</section>

