<section class="container-fluid About" appTranslateOnScroll>
  <div class="container">
    <header class="About__Header">
      <h1 class="About__Header__Heading">
        Meble na wymiar do każdego wnętrza
      </h1>
    </header>
    <article class="About__Content">
      <p>Meble Jaś to firma z tradycjami. Z roku na rok poszerzamy naszą bogatą ofertę, zwiększając również obszar
        działania. W chwili obecnej obsługujemy Klientów zarówno z Wrocławia, jak i okolic. Główny profil działalności
        polega na produkcji i montażu mebli typowych (w standardowym układzie) oraz mebli na wymiar. Szybko i
        profesjonalnie realizujemy zatem tradycyjne projekty, jak i oryginalne zamówienia na meble.
      </p>


      <p>Meble indywidualnie dopasowane, czyli meble na wymiar
        Każde wnętrze jest inne i musi odpowiadać indywidualnemu charakterowi jego mieszkańców. Powinno być również
        funkcjonalne i ustawne. Tymi zasadami kierujemy się tworząc dla projekty mebli na zamówienie. Przed podjęciem
        prac
        staramy się także dokładnie poznać Państwa oczekiwania i preferencje. Dzięki temu jesteśmy w stanie dopasować
        najbardziej odpowiedni projekt. Po zaakceptowaniu zaproponowanego szkicu, przechodzimy do fachowej i szybkiej
        realizacji mebli na wymiar. Do produkcji mebli i wykonania projektu używamy najwyższej jakości materiałów.
        Następnie montujemy je i dopracowujemy w najdrobniejszych szczegółach.
      </p>
      <p>
        Zamów meble na wymiar - obsługujemy Wrocław i okolice
        W naszym bogatym portfolio znajdują się setki projektów mebli na wymiar. Wyposażamy zarówno mieszkania, tworząc
        meble do salonu, kuchni czy sypialni, jak również lokale biurowe i sklepowe. Oferujemy bogatą kolorystykę i dużą
        gamę materiałów wykorzystywanych do produkcji mebli. Jesteśmy w stanie zrealizować zamówienie w dowolnym punkcie
        Wrocławia i jego okolic. Nasze bogate doświadczenie, profesjonalizm i indywidualne podejście gwarantują dobrze
        wykonaną pracę, której efekt można podziwiać latami...
      </p>

      <p>
        Meble Jaś – najwyższa jakość mebli na zamówienie
        Gwarantujemy wysoką jakość produkowanych przez nas mebli na wymiar i mebli typowych. Do produkcji używamy
        nowoczesnych podzespołów meblowych najwyższej jakości takich firm jak: Blum, Hettich, Peka, Rejs, Sevroll,
        Zobal.
      </p>
    </article>
  </div>
</section>
