<app-section>
  <header>Meble Jaś – najwyższa jakość mebli na zamówienie</header>
  <content>Gwarantujemy wysoką jakość produkowanych przez nas mebli na wymiar i mebli typowych. Do produkcji używamy
    nowoczesnych podzespołów meblowych najwyższej jakości takich firm jak: Blum, Hettich, Peka, Rejs, Sevroll, Zobal.

    W celu uzyskania szerszych informacji na temat naszej działalności zapraszamy do zapoznania się z pozostałymi
    stronami serwisu:

    OFERTA: szczegółowy opis profilu działalności naszej firmy, poznaj nasze możliwości i szeroką ofertę materiałów i
    akcesoriów meblowych jakie wykorzystujemy do produkcji mebli na wymiar.
    PROJEKTY: projekty komputerowe zestawów meblowych.
    GALERIA: W galerii zdjęć znajdziesz fotografie wykonanych przez nas mebli.
    REFERENCJE: opinie osób, które skorzystały już z naszych usług.
    KONTAKT</content>
</app-section>
