<nav class="wideNav px-3 orange  grey lighten-5 ">
  <div class="container ">
    <div class="nav-wrapper">
      <div class="logoWrapper">
      <a href="#" class="brand-logo logo" >
        <img [src]="logourl" alt="meble jas logo" class="logo" >
      </a>
    </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngFor="let NavLink of NavLinks">
          <a [routerLink]="NavLink.href" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >{{NavLink.name}}</a>
        </li>
      </ul>
    </div>
  </div>
    
</nav>

