/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  font-size: 16px;
}

@import "materialize-css/sass/materialize.scss";
@import "./styles/utilities/utilities";
@import "./styles/variables.scss";

@media (max-width: 600px) {
  :root {
    font-size: 70%;
    color: $secondary;
  }
}
